<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Healthviet\Blog\Api\Data\PostInterface" type="Healthviet\Blog\Model\Post" />
    <preference for="Healthviet\Blog\Api\BlogRepositoryInterface" type="Healthviet\Blog\Model\BlogRepository"/>
    <preference for="Healthviet\Blog\Api\Data\HomepageNewsInterface" type="Healthviet\Blog\Model\Data\HomepageNews"/>
    <preference for="Healthviet\Blog\Api\Data\NewsInterface" type="Healthviet\Blog\Model\Data\News"/>
    <preference for="Healthviet\Blog\Api\Data\NewsSearchResultsInterface" type="Healthviet\Blog\Model\Data\NewsSearchResults"/>
    <preference for="Healthviet\Blog\Api\Data\HomepageNewsSearchResultsInterface" type="Healthviet\Blog\Model\Data\HomepageNewsSearchResults"/>
    <virtualType name="BlogGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PostGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Healthviet\Blog\Model\Resource\Post\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BlogGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Healthviet\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tm_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tm_blog_post_listing_data_source" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Healthviet\Blog\Api\Data\CommentInterface" type="Healthviet\Blog\Model\Comment" />
    <virtualType name="CommentGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Healthviet\Blog\Model\Resource\Comment\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BlogGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Healthviet\Blog\Model\ResourceModel\Comment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tm_blog_comment</argument>
            <argument name="resourceModel" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tm_blog_comment_listing_data_source" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Healthviet\Blog\Api\Data\CategoryInterface" type="Healthviet\Blog\Model\Category" />
    <virtualType name="CategoryGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Healthviet\Blog\Model\Resource\Category\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BlogGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Healthviet\Blog\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tm_blog_category</argument>
            <argument name="resourceModel" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tm_blog_category_listing_data_source" xsi:type="string">Healthviet\Blog\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
