<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Healthviet_Doctor::top_level" title="Doctor Management" module="Healthviet_Doctor" sortOrder="9999"
             parent="Healthviet::Common"
             resource="Healthviet_Doctor::top_level"/>
        <add id="Healthviet_Doctor::healthviet_doctor_doctor" title="Doctor" module="Healthviet_Doctor" sortOrder="9999"
             resource="Magento_Backend::content" parent="Healthviet_Doctor::top_level"
             action="healthviet_doctor/doctor/index"/>
    </menu>
</config>
