<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Healthviet_CustomerFeedback::top_level" title="Customer Feedback Management"
             module="Healthviet_CustomerFeedback" sortOrder="9999"
             parent="Healthviet::Common"
             resource="Magento_Backend::content"/>
        <add id="Healthviet_CustomerFeedback::healthviet_customerfeedback_customerfeedback" title="CustomerFeedback"
             module="Healthviet_CustomerFeedback" sortOrder="9999" resource="Magento_Backend::content"
             parent="Healthviet_CustomerFeedback::top_level"
             action="healthviet_customerfeedback/customerfeedback/index"/>
    </menu>
</config>
