<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="after_save_payment_information_and_place_order" type="Vnpayment\VNPAY\Plugin\PaymentInformationManagementPlugin" sortOrder="1"/>
    </type>
</config>